.container-inc-exp {
  color: var(--color-text);
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-color: var(--color-sidebar);
  place-content: center;
  box-shadow: 0px 0px 15px -2px var(--color-shadow)
}

.income-expenses:first-child {

  position: relative;
}

.income-expenses:first-child::before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--color-border-transactions);
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.income-expenses {
  display: flex;
  justify-content: space-around;
  padding: 3.5rem 0;
}

.graph-icon {
  width: 60px;
  height: 60px;
}

.graph-icon.expenses {
  transform: scaleY(-1)
}

.income {
  font-size: 1.6rem;
  color: var(--color-income);
}

.expenses {
  font-size: 1.6rem;
  color: var(--color-icon-active);
}

.income,
.expenses {
  display: flex;
  gap: .5rem;
}