.App.dark {
  /* sidebar-- */
  --color-icon-sidebar: #fefefe;
  --color-text: #fefefe;
  --color-sidebar: #444244;
  --color-hover-item: #6d809a;
  --color-icon-active: #d95258;
  --color-border: transparent;
  /* header-- */
  --color-header:
    #1d1c1d;
  --color-shadow-haeder: #1d1c1d;
  --color-shadow: #1d1c1d;
  --color-items-header: #74a4cd;
  --color-icon: #fefefe;
  --color-hover: #444244;

  /* themesettings-- */

  --color-theme-settings: #444244;

  /* body-- */

  --color-bg: #2b2a2b;
  /* transactions-- */
  --color-income: #4da677;
  --color-border-transactions: #4a494b;

  /* scroll-bar-- */
  --color-bg-scrollbar: #1d1c1e;
  --color-scrollbar: #888;
  /* form-- */
  --color-text-inverted: #010000;
  --color-general:
    #bdbcbd;
}

.App.light {

  /* sidebar-- */
  --color-text: #010000;
  --color-icon-sidebar: #757475;
  --color-sidebar: #fefefe;
  --color-hover-item: #cccbcc;
  --color-icon-active: #d95258;
  --color-border: #cccbcc;

  /* header-- */
  --color-header:
    #fefefe;
  --color-shadow-haeder: trasparent;
  --color-shadow: #e4e3e4;
  --color-items-header: #74a4cd;
  --color-icon: #010000;
  --color-hover: #cccbcc;

  /* themesettings-- */

  --color-theme-settings: #fefefe;

  /* body-- */

  --color-bg: #fefefe;

  /* transactions-- */
  --color-income: #4da677;
  --color-border-transactions: #abaaac;

  /* scroll-bar-- */
  --color-bg-scrollbar: #888;
  --color-scrollbar: #444244;

  /* form-- */
  --color-text-inverted: #fefefe;
  --color-general:
    #bdbcbd;
}

.App {
  background: var(--color-bg);
  min-height: 100vh;
}

.overlay.open {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.overlay.openUpdate {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.overlay.openInfoBudget {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.overlay.openBudget {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.overlay.openExpense {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}




.flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /*responsive min- */
  position: relative;
}


.flex-1 {
  display: flex;
  /* flex: auto; */
  height: calc(100% - 62px);
}

.main {
  margin-left: 7.5rem;
  margin-right: 3rem;
  padding-top: 3rem;
  flex: auto;
  display: grid;
  grid-template-rows: 60% 40%;
  position: relative;
}