.budgets-info {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 1rem auto;
  font-size: .9rem;
  color: var(--color-text);
}

.container-list-budgets {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
  height: calc(100% - 6rem);
}

/* RESPONSIVE */

@media (max-width: 500px) {
  .budgets-info {
    font-size: .8rem;
  }
}

@media (max-width: 370px) {
  .budgets-info {
    display: grid;
    gap: .75rem;
  }
}