.budgets-card-container {
  flex: auto;
  margin-top: 1rem;
}

.budgets-info {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: .9rem;
  color: var(--color-text);
}