.container-transaction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--color-text);
  border-bottom: 2px solid var(--color-border-transactions);
  font-size: .9rem;
  padding: .5rem 0;
}

.right-info-transaction,
.left-info-transaction {
  display: grid;
  place-content: center start;
}

.left-info-transaction {
  grid-template-columns: minmax(90px, 110px) minmax(90px, 110px) minmax(90px, 110px);
}

.right-info-transaction {
  grid-template-columns: minmax(90px, 110px) minmax(90px, 1fr) minmax(min-content, max-content);
}

.amount-transaction {
  display: flex;
  align-items: center;
}

.container-note {
  display: flex;
  align-items: center;
}

.amount-transaction.income-transaction {
  color: var(--color-income);
}

.amount-transaction.expenses-transaction {
  color: var(--color-icon-active);
}

.container-del-mod {
  display: flex;
  justify-content: flex-end;
}

.icon-modify,
.icon-del {
  width: 20px;
  height: 20px;
  color: var(--color-text)
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-bg-scrollbar);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}