.container-transaction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--color-text);
  border-bottom: 2px solid var(--color-border-transactions);
  font-size: .9rem;
  padding: 1rem 0;
}

.right-info-transaction,
.left-info-transaction {
  display: flex;
  display: flex;
  gap: clamp(1rem, 3vw, 4rem);
}

.amount-transaction.income-transaction {
  color: var(--color-income);
}

.amount-transaction.expenses-transaction {
  color: var(--color-icon-active);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-bg-scrollbar);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}