.main.budget {
  margin-left: 7.5rem;
  margin-right: 3rem;
  padding-top: 3rem;
  flex: auto;
  display: grid;
  grid-template-rows: 10% 90%;
  position: relative;
}

.container-title-budget {
  display: flex;
  color: var(--color-text);
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-border-transactions);
  padding-bottom: 1rem;
}

/* RESPONSIVE */


@media (max-width: 900px) {
  .main.budget {
    margin-left: 5.5rem;
    margin-right: 1rem;
    padding-top: 2rem;
  }
}

@media (max-width: 500px) {
  .container-title-budget {
    font-size: 1.2rem;
  }


}