.sidebar {
  display: flex;
  padding: 2rem 1.5rem 0 1.5rem;
  background: var(--color-sidebar);
  transition: transform 300ms ease;
  width: 10rem;
  position: absolute;
  height: calc(100% - 32px);
  transform: translateX(calc(-100% + 4.5rem));
  overflow: hidden;
  border-right: 1px solid var(--color-border);
  z-index: 90;
}

.sidebar.open {
  transform: translateX(0);
}

.container-sidebar {
  width: 100%;

}

.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.list-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.list-nav.open::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transform: scale(1.4, 1.5);
  background-color: var(--color-hover-item);
  transition: all 50ms ease;
}

.list-nav.open:hover:before {
  opacity: 1;
}

.list-nav a {
  display: flex;
}

.container-icon-nav {
  position: relative;
}

.container-icon-nav.active .icon-nav {
  color: var(--color-icon-active);
}

.container-icon-nav.closed:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(1.4);
  opacity: 0;
  z-index: -1;
  background-color: var(--color-hover-item);
  border-radius: .5rem;
  transition: all 50ms ease;
}

.icon-nav {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.container-icon-nav.closed:hover::before {
  opacity: 1;
}

.icon-nav {
  color: var(--color-icon-sidebar);
}

.title-icon {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
}