header {
  padding: 1rem 1.5rem;
  background-color: var(--color-header);
  box-shadow: 0px 1px 4px 1px var(--color-shadow-haeder);
  z-index: 999;
  position: relative;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header>div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  position: relative;
}

.toggle-nav {
  width: 30px;
  height: 30px;
  color: var(--color-items-header);
  cursor: pointer;
}

.container-toggle::before,
.container-toggle-mode::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(1.6);
  opacity: 0;
  z-index: -1;
  background-color: var(--color-hover);
  border-radius: 50%;
  transition: all 50ms ease;
}

.container-toggle:hover::before,
.container-toggle-mode:hover::before {
  opacity: 1;
}

.title-section {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--color-items-header);
}

.container-toggle-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.toggle-mode {
  width: 30px;
  height: 30px;
  color: var(--color-items-header);
  cursor: pointer;
}

.theme-settings {
  position: absolute;
  top: 100%;
  background: var(--color-theme-settings);
  right: 0;
  width: 250px;
  height: 200px;
  box-shadow: 0px 0px 15px 1px var(--color-shadow);
  opacity: 0;
  transition: all 200ms ease;
  color: var(--color-icon);
  visibility: hidden;
}

.theme-settings.open {
  opacity: 1;
  visibility: visible;
}

.theme-container {
  padding: 1rem;
}

.settings {
  color: var(--color-items-header);
}

.toggle-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.toggle-settings span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .7rem;
}

.icon-theme {
  display: flex;
  width: 20px;
  height: 20px;
}