.container-add-transaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  grid-column: span 2;
  place-items: center;
  position: relative;
}

.text-add-transaction {
  font-size: 1.3rem;
  color: var(--color-text);
}

.btn-container {
  z-index: 1;
}

.icon-btn {
  width: 25px;
  height: 25px;
}