.form-budget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 500px;
  z-index: 999;
  width: 500px;
  margin: 0 auto;
  /* background: var(--color-sidebar); */
  background-color: var(--color-sidebar);
  box-shadow: 0px 0px 15px -2px var(--color-shadow);
  padding: 1.5rem;
}


.form-budget.closed {
  visibility: hidden;
}

.form-budget.open {
  visibility: visible;
}

.exit-form-budget {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.btn-exit-form {
  width: 30px;
  height: 40px;
}

.icon-exit-form {
  width: 25px;
  height: 25px;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-text);
}

.form-exp-inc {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-exp-inc button {
  width: 130px;
}

.form-space-btw {
  display: flex;
  justify-content: space-between;
}


.eur-form {
  background-color: var(--color-text);
  border-radius: 1rem;
  padding: .2rem 1rem;
  color: var(--color-text-inverted);
  justify-self: center;
  align-self: center;
}

.amount-form {
  font-size: 2.5rem !important;
  padding: .5rem !important;
  width: 15rem !important;
  color: var(--color-text) !important;
}

.amount-form.income-form {
  color: var(--color-income) !important;
}

.amount-form.expenses-form {
  color: var(--color-icon-active) !important;
}



.container-input {
  padding: 2.5rem 0;
}

.text-general {
  text-transform: uppercase;
  font-size: .8rem;
  color: var(--color-general);
  padding-bottom: .5rem;
}



.textfield {
  color: var(--color-text) !important;
}

.textfield-1 {
  color: var(--color-text) !important;
  width: 100%;

}

.input:not(:last-child) {
  margin-bottom: 1rem;
}

.btn-form {
  display: flex;
  justify-content: center;
}

.btn-form button {
  width: 100%;
}


@media (max-width: 900px) {

  .form-budget,
  .form-addexpense {
    width: 425px;
    padding: 1rem;
  }

  .info-budget {
    width: 420px;
    padding: 1rem;
  }

  .form-budget .amount-form,
  .form-addexpense .amount-form {
    width: 11rem !important;
    font-size: 2rem !important;
  }
}

@media (max-width: 500px) {

  .main.budget {
    position: unset;
  }

  .form-budget,
  .form-addexpense,
  .info-budget {
    width: 325px;
  }

  .form-budget .amount-form,
  .form-addexpense .amount-form {
    width: 6rem !important;
    font-size: 1.5rem !important;
  }

}